.error404 {
    .fof {
        @extend .section-bg;
        text-align: center;

        .h1 {
            display: block;
            font-size: 7em;
            margin-bottom: 0;

            @media only screen and (min-width:720px) {
                font-size: 12em;
            }

        }

        .h5 {
            margin-top: 0;
            text-transform: none;
            color: $black;
            letter-spacing: normal;
        }

        &__content {
            max-width: 500px;
            border-top: 1px solid $gray;
            margin: 0 auto;
            padding-top: 1.5em;
            margin-top: 1.5em;
        }

        .links {
            margin-top: 1.5rem;

            @media only screen and (min-width:501px) {
                display: flex;
                justify-content: center;
                margin-top: 3rem;

                a.btn {
                    margin-top: 0;
                    width: calc(25% - 1.5rem);
                    margin: 0 .75rem;
                    max-width: 250px;
                }

            }

        }

    }

}
