@mixin box-shadow($type: undefined) {

    @if $type==undefined {
        box-shadow: 0 1rem .9rem -4px rgba($black, .05),
            0 .35rem .5rem -2px rgba($black, .1),
            0 2px 1rem -.25rem rgba($black, .08);
        margin-bottom: 2em;
    }

    @else if $type=='reset' {
        box-shadow: none;
    }
}

%input {
    display: inline-block;
    appearance: none;
    padding: .75rem;
    border: $input_border_width solid $input_inactive;
    background: $input_background;
    border-radius: 0;
    font: inherit;
    font-size: .9rem;
    line-height: 1.25;
    width: 100%;
    color: $white;

    &:last-child {
        margin-bottom: 0;
    }

    &.filled {
        border-color: $input_filled;
    }

    &:focus {
        border-color: $input_active;
    }

}

%customLists {
    ul,
    ol {
        margin-left: 1rem;
        font-size: inherit;

        li {
            padding-left: 0.5rem;
            list-style: none;
            position: relative;
            box-sizing: border-box;

            &:before {
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
                right: 100%;
                color: $primary;
                white-space: nowrap;
            }

        }

        @media (min-width:$tablet) {
            margin-left: 1.25rem;
        }

    }

    ol {
        counter-reset: ol-counter;

        li {
            &:before {
                content: counter(ol-counter);
                counter-increment: ol-counter;
                text-align: right;
                font-weight: bold;
                right: calc(100% + .5rem);
            }

        }

    }

    ul {
        li {
            &:before {
                top: .5rem;
                bottom: 0px;
                margin-right: 0.5rem;
                height: 0;
                width: 0;
                border-radius: 50%;
                border: 2.5px solid;
            }

        }

    }

}

.alignright,
.alignleft,
.aligncenter,
.wp-caption {
    margin: 1.5rem 2rem;
    width: auto !important;
}

.alignright,
.alignright img {
    float: right;
    margin-right: 0;
}

.alignleft {
    float: left;
    margin-left: 0;
}

.aligncenter,
.aligncenter img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
