//----------------------------------------------
//* COLORS
//---------------------------------------------
// Base Colors
$black: #000000;
$white: #ffffff;
$gray: #313131;
$primary: $black;
$secondary: #25274D;
$tertiary: #2E9CCA;


// State Colors
$error: #EF475E;
$warning: #FFD166;
$info: #4292E3;
$success: #06D6A0;

//----------------------------------------------
//* Forms
//---------------------------------------------
$input_border_width: 2px;
$input_inactive: $gray;
$input_active: $info;
$input_filled: $primary;
$input_error: $error;
$input_background: initial;

//----------------------------------------------
//* LAYOUTS
//---------------------------------------------
$container_sm: 720px;
$container_md: 750px;
$container: 1200px;
$container_lg: 1440px;

$mobile: 480px;
$tablet: 768px;
$laptop: 960px;
$desktop: 1200px;
$desktop_lg: 1440px;

//----------------------------------------------
//* TYPOGRAPHY
//---------------------------------------------
$serif: Poppins-Medium, serif;
$sans: Poppins-Extra-Bold, sans-serif;

$line-height: 1.5;

// Links
$link_color: $info;

// Headings
$heading_color: $black;
$heading_font: $sans;

$heading_h1: 4rem;
$heading_h2: 2.75rem;
$heading_h3: 2rem;
$heading_h4: 1.5rem;
$heading_h5: 1.2rem;
$heading_h6: .875rem;

$heading_h1__mobile: 2.25rem;
$heading_h2__mobile: 1.875rem;
$heading_h3__mobile: 1.5rem;
$heading_h4__mobile: 1.25rem;
$heading_h5__mobile: 1.1rem;
$heading_h6__mobile: .9rem;