.gfooter {
	background-color: $primary;
	padding: 2.5rem 1.5rem 0;

	* {
		color: $white;
	}

	&__row {
		border-bottom: 1px solid $white;
	}

	&__nav {
		margin-bottom: 1.5rem;

		.menu-item__link {
			&:after {
				background-color: $white;
			}

		}

		nav {
			margin-top: 1.5rem;

			.h5 {
				font-family: $serif;
				font-weight: bold;
				display: flex;
				align-items: center;
				margin-bottom: 1rem;
				cursor: pointer;

				.svg-icon {
					transform: rotate(90deg);
					margin-left: .25rem;

					path {
						fill: $white;
					}

				}

			}

			ul {
				display: none;
			}

			li {
				margin-bottom: .5rem;

				a {
					text-decoration: none;
				}

			}

		}

	}

	&__content {
		p {
			margin-top: .5rem;
		}

	}

	&__copyright {
		text-align: center;
		padding: 1.5rem;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

		}

		p {
			font-size: .9em;
		}

	}

	@media (min-width:$tablet) {
		padding: 4.5rem 3rem .5rem;

		&__nav {
			margin-bottom: 1.5rem;

			.svg-icon {
				display: none;
			}

			nav {
				margin-top: 0;

				.h5 {
					cursor: initial;
					pointer-events: none;
				}

				ul {
					display: block !important;
				}

			}

			li {
				margin-bottom: 1rem;
			}

		}

		&__row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 2.5rem;
		}

		&__content {
			width: 30rem;
			margin-right: 5rem;
		}

		&__nav {
			display: flex;
			justify-content: flex-end;
			gap: 5.5rem;
		}

	}

}
