@import '../includes/fonts';
@import '../includes/variables';
@import '../includes/utilities';


html, body {
    font-size: 16px;
}

body {
    background: $white;
    color: $gray ;
    font-family: $serif;
    line-height: $line-height;

    * {
        font-feature-settings: "liga";
        box-sizing: border-box;

        &:focus {
            outline: 0;
            box-shadow: 0;
        }
    }

    &.blur {
        header, footer, section {
            filter: blur(4px);
        }
    }

    &.overlay {
        &:before {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 4;
            background-color: rgba(0, 0, 0, .75);
        }
    }

    &.no-scroll {
        overflow: hidden;
        height: 100vh;

        @supports (-webkit-overflow-scrolling:touch) {
            height: 100%;
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

section,
.section {
    padding: 2.5rem 1.5rem;
    position: relative;
    overflow: hidden;

    &-bg {
        padding: 3rem 1.5rem;
    }

 
    &:not(.section-bg) + .section-bg,
    &-bg + section:not(.section-bg) {
        margin-top: 2rem;
    }

    &:last-child:not(.section-bg) {
        margin-bottom: 2rem;
    }

    @media (min-width:$tablet) {
        padding: 4.5rem 3rem;

        &-bg {
            padding: 6rem 3rem;
        }
    }
}

.section {
    &__header {
        + .section__content {
            margin-top: 2rem;
        }
    }
}

.container {
    max-width: $container_sm;
    margin: 0 auto;

    @media (min-width:$mobile) {
        max-width: $container;

        &--small {
            max-width: $container_sm;
        }

        &--medium {
            max-width: $container_md;
        }

        &--large {
            max-width: $container_lg;
        }
    }

}

main {
    @extend %customLists;

    blockquote {
        line-height: 1.4;
        font-size: 1.25rem;
        position: relative;

        cite {
            font-size: .9rem;
        }

        @media (min-width: $tablet) {
            font-size: 1.5rem;
        }
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: $heading_color;
    font-family: $heading_font;
    line-height: 1.2;
    margin: 0;
    text-wrap: balance;

    * + & {
        margin-top: 1.5em;
    }

    .preheading + & {
        margin-top: .75rem;
    }

    &:first-child {
        margin-top: 0;
    }
}

@for $i from 1 through 6 {

    .h#{$i} + h1,
    h#{$i} + h1,
    .h#{$i} + h2,
    h#{$i} + h2,
    .h#{$i} + h3,
    h#{$i} + h3,
    .h#{$i} + h4,
    h#{$i} + h4,
    .h#{$i} + h5,
    h#{$i} + h5,
    .h#{$i} + h6,
    h#{$i} + h6 {
        margin-top: .75rem;
    }
}


h1, .h1 {
    font-size: $heading_h1__mobile;

    @media (min-width: $laptop) {
        font-size: $heading_h1;
    }

}

h2, .h2 {
    font-size: $heading_h2__mobile;

    @media (min-width: $laptop) {
        font-size: $heading_h2;
    }
}

h3, .h3 {
    font-size: $heading_h3__mobile;

    @media (min-width: $laptop) {
        font-size: $heading_h3;
    }
}

h4, .h4 {
    font-size: $heading_h4__mobile;

    @media (min-width: $laptop) {
        font-size: $heading_h4;
    }
}

h5, .h5 {
    font-size: $heading_h5__mobile;

    @media (min-width: $laptop) {
        font-size: $heading_h5;
    }
}

h6, .h6 {
    font-size: $heading_h6__mobile;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.preheading,
.subheading {
    font-size: .9rem;
}

a {
    color: $link_color;
    text-decoration: underline;
    text-underline-offset: .25em;
}


.video-embed {
    position: relative;
    height: 0;
    overflow: hidden;
    margin: auto;
    padding-bottom: 56.5%;
    background: $black;

    &__cover, &__embed, iframe, video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 100%;
        width: 100%;
    }

    &__cover {
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        cursor: pointer;
    }

    &__cover:hover &__play {
        transform: scale(1.1);
    }

    &__play {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform .2s ease;
        z-index: 1;

        span {
            @extend .h6;
            color: $white;
            margin-top: 1.5rem;
        }
    }
}



code {
    background: $gray;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .1rem;
    border-radius: .15rem;
}

.site-logo {
    display: inline-block;
    vertical-align: middle;

    svg, img, a {
        display: block;
    }

    svg, img {
        max-width: 100%;
    }
}

.wp-pagenavi {
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    > span,
    > a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 .5rem;
        height: 2rem;
        min-width: 2rem;
        border: 1px solid transparent;
        line-height: 1;
        padding: .5rem;
        text-decoration: none;
    }

    .current {
        background: $black;
        color: $white;
    }
}

.swiper-controls {
    display: flex;
    justify-content: center;


    .swiper-btn {
        position: initial;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50px;
        background: $primary;
        border: 1px solid #acacac;
        color: #111;
        margin-top: 0;

        &.swiper-button-prev {
            margin-right: 1.5rem;

            .svg-icon {
                transform: rotate(180deg);
            }

        }

        &:after {
            display: none;
        }

        .svg-icon {
            height: 1rem;
            width: 1rem;

            path {
                fill: $white;
            }

        }

        &:hover {
            background-color: $white;

            path {
                fill: $black;
            }

        }

    }

}

.intro {
    text-align: center;
    p {
        margin-top: .5rem;
    }
    @media (min-width: $laptop) {
        max-width: 700px;
        margin: 0 auto;
    }
}


.hide-mobile {
    @media (max-width: $desktop - 1) {
        display: none !important;
    }
}

.hide-desktop {
    @media (min-width: $desktop) {
        display: none !important;
    }
}

.site-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000040;
    z-index: 999;
    transition-duration: .25s;
    pointer-events: none;
    opacity: 0;

    &.active {
        pointer-events: all;
        opacity: 1;
    }
}


.text-primary {
    color: $primary;
}

.strikethrough {
    text-decoration: line-through;
}