.gheader {
	z-index: 0;
	margin: 0;
	background-color: $white;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	&__top {
		background-color: $primary;
		padding: .75rem 1rem;
		transition: .3s ease;

		.container {
			justify-content: flex-end;
		}

		.svg-icon {
			width: 1.25rem;
			height: 1.25rem;
			margin-right: .5rem;

			svg {
				path {
					fill: $white;
				}

			}

		}

		&-address {
			display: none;
		}

		&-contact {
			display: flex;
			flex-direction: column;
		}

		a {
			display: flex;
			align-items: center;
			text-decoration: none;

			&:last-child {
				margin-left: 1rem;
			}

			&:hover {
				text-decoration: underline;
			}

		}

		p {
			margin: 0;

			&:empty {
				display: none;
			}

		}

		* {
			color: $white;
		}

	}

	&__content {
		padding: 1rem;
		transition: .3s ease;
	}

	&__btn {
		margin: 0 !important;
		margin-left: 2.5rem !important;
	}

	&__logo {
		z-index: 100;
		max-width: 180px;
	}

	&.sticky {
		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
		border-bottom: 1px solid transparent;
		transition: background .15s ease, box-shadow .15s ease, border-color .15s ease;

		&--scrolled {
			@include box-shadow;
			margin: 0;
			background: $white;

			.gheader__content {
				padding: .5rem 1rem;
			}

		/*	.gheader__top {
				height: 0;
				opacity: 0;
				overflow: hidden;
				padding-top: 0;
				transform: translateY(-3.125rem);
			}*/

		}

	}

	@media (min-width:$laptop) {
		&__content {
			padding: 1rem;
		}

		&__top {
			.container {
				justify-content: space-between;
			}

			&-address {
				display: flex;
			}

		}

	}

	@media (min-width:$mobile) {
		&__top {
			&-contact {
				flex-direction: row;
			}
		}

	}

}

@media (max-width:$mobile - 1) {
	.gheader {
		&__logo {
			max-width: 200px;
		}

	}

}

@media (max-width:$laptop - 1) {
	.gheader {
		&__logo {
			margin-right: auto;

			svg, img {
				max-height: 46px;
			}

		}

	}

}
