/* ========================================================================================================================

 Mobile Burger

======================================================================================================================== */
.menu-burger {
    appearance: none;
    display: inline-block;
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: -5px;
    overflow: hidden;
    z-index: 100;
    font: inherit;
    font-size: .9em;
    padding: 0;
    margin: 0 -5px 0 .5em;
    flex: none;
    width: auto;

    &__icon {
        display: inline-block;
        width: 28px;
        height: 22px;
        position: relative;
        vertical-align: middle;
        margin: 5px;

        span {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 100%;
            background: $black;
            margin: auto;
            transition: background .16s ease, width .16s ease, transform .16s ease;

            &:before, &:after {
                @extend span;
                content: "";
            }

            &:before {
                margin-top: -9px;
            }

            &:after {
                margin-bottom: -9px;
            }

        }

    }

    &:hover {
        .menu-burger__icon span {
            width: 100%;
        }

    }

    &.active {
        .menu-burger__icon span {
            width: 100%;
            transform: rotate(-45deg);
            margin: auto;

            &:before {
                transform: rotate(90deg);
                margin: auto;
            }

            &:after {
                opacity: 0;
            }

        }

    }

    @media(min-width:$laptop) {
        display: none;
    }

}

/* ========================================================================================================================

Menu Items & Dropdowns

======================================================================================================================== */
.menu--main {
    .menu-item {
        display: block;
        position: relative;

        &__link {
            display: block;
            text-decoration: none;
            padding: .75rem 1rem;
            font-size: 1rem;

            &:hover {
                text-decoration: none;
            }

        }

        // Submenu
        &__submenu {
            background: $primary;
            padding-left: 1rem;

            .menu-item {
                color: $white;

                .menu-item__link {
                    &:after {
                        display: none;
                    }

                    &:hover {
                        background-color: $primary;
                        color: $white;
                    }

                }

            }

        }

        // Dropdown
        &__dropdown {
            .desktop-chevron {
                display: none;
            }

            &.active {
                > .mobile-arrow {
                    transform: rotate(-180deg);
                }

                > .menu-item__submenu {
                    display: block;
                }

            }

        }

        @media (min-width:$laptop) {
            padding: 1rem 0;
            display: flex;

            &__link {
                padding: 0;
                position: relative;
                color: $black;
            }

            // Dropdown
            &__dropdown {
                .dropdown-toggle {
                    display: flex;
                    align-items: center;
                }

                .desktop-chevron {
                    margin-left: .5rem;
                    transform: rotate(90deg);
                    transform-origin: center;
                    transition: .25s ease;
                    display: block;
                }

                &:hover {
                    .desktop-chevron {
                        transform: rotate(-90deg);
                    }

                    > .menu-item__submenu {
                        visibility: visible;
                        opacity: 1;
                        transform: scaleY(1);
                    }

                }

            }

            &__submenu {
                min-width: 15rem;
                background: $white;
                box-shadow: 0 .25rem .5rem rgba($black, .1);
                position: absolute;
                top: 100%;
                left: 0;
                padding: 0;
                transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
                transform-origin: top;
                overflow: hidden;
                transform: scaleY(0);

                .menu-item {
                    margin-right: 0;
                    padding: 0;

                    .menu-item__link {
                        padding: .75rem;
                        width: 100%;
                    }

                }

            }

        }

        @media (max-width:$laptop - 1) {
            &__submenu {
                display: none;
            }

        }

    }

}

/* ========================================================================================================================

Main Menu

======================================================================================================================== */
.menu--main {
    padding: inherit;
    background: $white;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    left: -100%;
    margin: auto;
    z-index: 99;
    transition: left .15s ease;
    margin-top: 3.5rem;

    &.active {
        left: 0;
    }

    @media (min-width:$laptop) {
        position: relative;
        top: initial;
        left: initial;
        right: initial;
        bottom: initial;
        margin: 0;
        background: transparent;

        > ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 2rem;
        }

    }

    @media(max-width:$laptop - 1) {
        #menu-main-menu {
            overflow: auto;
            height: 100%;
        }

    }

}

/* ========================================================================================================================

   Mobile Button for activating dropdowns

======================================================================================================================== */
.menu--main {
    .mobile-arrow {
        display: block;
        background: transparent;
        border-color: transparent;
        position: absolute;
        right: 0;
        top: 0;
        height: 3.5rem;
        width: 3.5rem;
        color: inherit;
        transition: .25s ease;

        .svg-icon {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            transform: rotate(90deg);
            transform-origin: center;
        }

        @media (min-width:$laptop) {
            position: relative;
            display: none;
            height: 2.5rem;
            width: 2.5rem;
        }

    }

}
