%button {
    background: transparent;
    border: $input_border_width solid transparent;
    color: $black;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    font-size: 1rem;
    padding: .75rem 1rem;
    margin: 0;
    text-decoration: none;
    line-height: 1.25;
    text-align: center;
    transition: .16s ease;

    .svg-icon {
        display: inline-block;
        margin: 0 .5rem;
        font-size: .8rem;
    }

    &:hover {
        text-decoration: none;
    }

    p + & {
        margin-top: 1rem;
    }

    @media (min-width:$mobile) {
        width: auto;
        margin-right: .75rem;

        p + & {
            margin-top: 1.5rem;
        }

        &:last-child {
            margin-right: 0;
        }

    }

}

.btn {
    @extend %button;
    background: $primary;
    color: $white;
    position: relative;
     z-index: 1;

    &:before {
        content: "";
        width: 0;
        height: 100%;
        background: $white;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        transition: width 0.3s;
        z-index: -1;
    }

    &:hover {
        color: $black;

        &:before {
            width: 100%;
        }

    }

    &:focus {
        text-decoration: none;
    }

    &--reset {
        border: none;
        padding: 0;
    }

    &--secondary, &--outline {
        background: $black;
        color: $white;
        border-color: $black;

        &:hover {
            background: transparent;
            color: $black;
            border-color: $black;
        }

    }

    &:disabled {
        background: $gray;
        color: $gray;
    }

    @media (min-width:$mobile) {
        &--text {
            .btn + & {
                margin-top: .75rem;
                margin-left: .5rem;
            }

        }

        &--small {
            &.btn--text {
                margin-top: .5rem;
                margin-bottom: .5rem;
            }

        }

    }

}
