.menu-item {
    @media (min-width:$laptop) {
        &__link {
            padding: 0;
            position: relative;
            color: $black;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                background: $black;
                width: 0;
                height: 2px;
                transition: width .5s ease;
            }

            &:hover {
                &:after {
                    width: 100%;
                }

            }

        }

    }

}
