.social-links ul {
    display: flex;
    align-items: center;
    margin: 2rem 0 0;
    padding: 0;
    list-style: none;

    li {
        margin: 0;

        + li {
            margin-left: 1rem;
        }

    }

    .svg-icon {
        height: 1.25rem;
        width: 1.25rem;

        path {
            fill: $white;
        }

    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {

            .svg-icon path {
                fill: $white;
            }

        }

    }

}
