.swiper-controls {
	margin-top: 1.5rem;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	.swiper-pagination {
		position: initial;
		width: 70%;
	}

	.swiper:not(.swiper-initialized) & {
		display: none;
	}

	.swiper-pagination-bullet-active {
		background-color: $primary;
	}

	.swiper-btn {
		margin: 0;
		background: $black;
		border: 1px solid $black;

		&:hover {
			background-color: $primary;
			border: 1px solid $primary;
		}

	}

}
